/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		keyscan-spi = &spi0;

		/*
		 * Keyboard status LEDs.
		 *
		 * TODO: Replace these aliases with the real keyboard LED nodes
		 * when moving away from the nRF52840 DK LEDs.
		 */
		kbd-led-numlock = &led0;
		kbd-led-capslock = &led1;
		kbd-led-scrolllock = &led2;
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "keyboard";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
		/*
		 * Leave interrupt OUT disabled. Keyboard LED output reports are
		 * handled through the control endpoint SET_REPORT path.
		 */
	};

	zephyr,user {
		keyscan-load-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		mode-wire-gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		mode-ble-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		mode-wireless-gpios = <&gpio1 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&kbd_scan_spi0_default>;
	pinctrl-1 = <&kbd_scan_spi0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	kbd_scan_spi0_default: kbd_scan_spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
				<NRF_PSEL(SPIM_MISO, 0, 29)>;
		};
	};

	kbd_scan_spi0_sleep: kbd_scan_spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
				<NRF_PSEL(SPIM_MISO, 0, 29)>;
			low-power-enable;
		};
	};
};
